body {
	margin: 0;
	padding: 0;
	background: #ffc0cb;
	font-size: 20px;
	font-family: '微软雅黑', '宋体', sans-serif;
	color: #000000;
	overflow: auto
}

a {
	color: #000;
	font-size: 14px;
}

#main {
	width: 100%;
}

#wrap {
	position: relative;
	margin: 0 auto;
	width: 1100px;
	height: 680px;
	margin-top: 10px;
}

#text {
	width: 400px;
	height: 425px;
	left: 60px;
	top: 80px;
	position: absolute;
}

#code {
	display: none;
	font-size: 16px;
}

#clock-box {
	position: absolute;
	left: 60px;
	top: 550px;
	font-size: 28px;
	display: none;
}

#clock-box a {
	font-size: 28px;
	text-decoration: none;
}

#clock {
	margin-left: 48px;
}

#clock .digit {
	font-size: 64px;
}

#canvas {
	margin: 0 auto;
	width: 1100px;
	height: 680px;
}

#error {
	margin: 0 auto;
	text-align: center;
	margin-top: 60px;
	display: none;
}

.hand {
	cursor: pointer;
}

.say {
	margin-left: 5px;
}

.space {
	margin-right: 150px;
}
/* From Uiverse.io by CristianMontoya98 */ 
.btn {
	width: 6.5em;
	height: 2.3em;
	margin: 0.5em;
	background: black;
	color: white;
	border: none;
	border-radius: 0.625em;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	position: relative;
	z-index: 1;
	overflow: hidden;
   }
   
   button:hover {
	color: black;
   }
   
   button:after {
	content: "";
	background: white;
	position: absolute;
	z-index: -1;
	left: -20%;
	right: -20%;
	top: 0;
	bottom: 0;
	transform: skewX(-45deg) scale(0, 1);
	transition: all 0.5s;
   }
   
   button:hover:after {
	transform: skewX(-45deg) scale(1, 1);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
   }